html {
    margin: 0;
    padding: 0;
    font: 20px Arial, sans-serif;
}

body {
    background-color: rgb(189, 185, 193);
}

#title-container {
    width: fit-content;
    height: 20%;
    margin: auto;
}

#alert-message {
    margin: 10px;
    border-radius: 30px;
    padding: 15px;
    background-color: rgb(205, 152, 152);  
}

#button-container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 20%;
    margin: auto;
}

#color-displays-container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 20%;
    margin: auto;
}

#color-displays-container div {
    min-width: 100px;
    width: 15%;
    height: 90%;
    border-radius: 20px;
    background-color: white;
}

button {
    margin: 10px;
    border-radius: 30px;
    padding: 15px;
}

button:hover {
    cursor: pointer;
    background-color: gray;
}