html {
    margin: 0;
    padding: 0;
    font: 20px Arial, sans-serif;
}

body {
    background-color: #e3dacb;
    background-size: 40px 40px;
    background-image: 
        linear-gradient(to right, #b7ac9c 2px, transparent 1px),
        linear-gradient(to bottom, #b7ac9c 1px, transparent 1px);
}

main {
    width: 70%;
    height: 70%;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 40px;
    border-color: #b7ac9c;
    border-width: 2px;
    border-style: solid;
    box-shadow: 10px 15px 3px #7068288e;
}

#title-container {
    width: fit-content;
    height: 20%;
    margin: auto;
}

#alert-message {
    /*display: none;*/
    width: fit-content;
    margin: auto;
    border-radius: 30px;
    padding: 15px;
    background-color: #8a43437f;  
}

#button-container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 20%;
    margin: auto;
}

#color-displays-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 20%;
    margin: auto;
}

#color-displays-container div {
    min-width: 100px;
    width: 15%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: gray;
    background-color: white;
}

button {
    margin: 10px;
    border-radius: 30px;
    padding: 15px;
}

button:hover {
    cursor: pointer;
    background-color: gray;
}